{% extends "base.html" %}
{% block page_title %}
	{{ product.name }}
{% endblock %}
{% block content %}

<div class="">
	<div class="row center z-depth-1 lime lighten-3">
		<div class="row"></div>
		<h2 class="flow-text blue-grey-text">{{ member.name }} {{ member.last_name }}</h2>
	</div>
</div>
<div class="container">
	<div class="row ">
		<div class="col s12 m6">
			<div class="row center">
				<img class="responsive-img circle" src="{{ member.photo.url }}" alt="">
			</div>
			<div class="row center">
				<div class="chip orange z-depth-1">
			    {{member.team_skills}}
			  </div>
				<div class="chip teal z-depth-1">
			    {{member.personal_skills}}
			  </div>
				<div class="chip red z-depth-1">
			    {{member.weakness}}
			  </div>
				<div class="chip grey darken-1 z-depth-1">
			    {{member.illness}}
			  </div>
				<div class="chip brown z-depth-1">
			    {{member.under_presure}}
			  </div>
			</div>
		</div>
		<div class="col s12 m6">


			<div class="row">
				<div class="col s12 z-depth-1">
					<p class="flow-text ">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
						eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
						ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.
					</p>
				</div>
			</div>
			<div class="row center">
				<div class="col s12 grey lighten-1">
						<p class="flow-text">{{member.email}}</p>
				</div>
				<div class="col s12 lime lighten-4">
						<p class="flow-text">{{member.phone}}</p>
				</div>
				<div class="col s12 grey lighten-1">
						<p class="flow-text">{{member.address}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
