{% extends "base.html" %}
{% block page_title %}
	{{ title }}
{% endblock %}
{% block content %}
	<div class="">
		<div class="row center z-depth-1 lime lighten-3">
			<div class="row"></div>
			<h3 class="blue-grey-text">Our Team Work</h2>
		</div>
		<div class="container">
			<div class="row center">



				{% for member in object_list %}
				<div class="col s6 m4 l3">
					<div class="card">
    				<div class="card-image waves-effect waves-block waves-light">
      				<img class="activator" src="{{ member.photo.url }}">
    				</div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">
								<a class="blue-grey-text" href="{% url "members:detail" member.id %}">{{ member.name }}</a>
							</span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title blue-grey-text text-darken-1">
								{{ member.name }}
								<i class="material-icons right">arrow_drop_down_circle</i></span>
				      <p class="flow-text orange">
				      	{{member.team_skills}}
				      </p>
							<p class="flow-text teal">
				      	{{member.personal_skills}}
				      </p>
							<p class="flow-text red lighten-1">
				      	{{member.weakness}}
				      </p>
				    </div>
  				</div>
				</div>
				{% endfor %}
			</div>

		</div>


	</div>
{% endblock %}
