{% extends "base.html" %}
{% block page_title %}
	{{ title }}
{% endblock %}
{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12">
                {% load materialize %}
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.date_start|as_material:"m6" }}
                    {{ form.date_end|as_material:"m6" }}
                    {{ form.title|as_material:"m6" }}
                    {{ form.description|as_material:"m6" }}
                    {{ form.organizer|as_material:"m6" }}
                    {{ form.email|as_material:"m6" }}
                    {{ form.location|as_material:"m6" }}
                    {{ form.timezone|as_material:"m6" }}

			</div>
		</div>
		<div class="row center">
			<button class="btn waves-effect waves-light" type="submit" value="Save">Submit
		    	<i class="material-icons right">send</i>
		  	</button>
		  	</form>
		</div>
	</div>

	<script type="text/javascript">(function () {
            if (window.addtocalendar)if(typeof window.addtocalendar.start == "function")return;
            if (window.ifaddtocalendar == undefined) { window.ifaddtocalendar = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript';s.charset = 'UTF-8';s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')+'://addtocalendar.com/atc/1.5/atc.min.js';
                var h = d[g]('body')[0];h.appendChild(s); }})();
    </script>

    <!-- 3. Place event data -->
    <span class="addtocalendar atc-style-blue">
        <var class="atc_event">
            <var class="atc_date_start">2017-05-04 12:00:00</var>
            <var class="atc_date_end">2017-05-04 18:00:00</var>
            <var class="atc_timezone">Europe/London</var>
            <var class="atc_title">Star Wars Day Party</var>
            <var class="atc_description">May the force be with you</var>
            <var class="atc_location">Tatooine</var>
            <var class="atc_organizer">Luke Skywalker</var>
            <var class="atc_organizer_email">luke@starwars.com</var>
        </var>
    </span>


{% endblock %}
